@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --link-color: red;
    --outline-color: rgb(223 223 228);
    --custom-management-color:#BFBFBF;
    --input-border-color:#464660;
}
/* 
html{
  height: 100%;
}
body{
  height: 100%;
}

#root{
  width: 100%;
  min-height:100%;
} */


/**define custom styling for the compnenets here*/

/* @layer components {
  .social-links {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }
  .submit-button{
    box-shadow: ;
  }
} */